.themes-container {
    position: relative;
    overflow: hidden;
}

.cards-container{
  display: flex;
  padding: 40px;
}

.d-flex{
  justify-content: center;
}

/* Estilo para o overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050; /* Deve ser maior do que o z-index do modal */
}

/* Ajuste de layout para manter o conteúdo centralizado */
body.modal-open {
  padding-right: 0 !important;
}

.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom,
.modal-open .navbar-static-top {
  margin-right: 0;
}
