a {
  font-family: 'Poppins', sans-serif;
}

.headerApp {

  .navbar {
    .container-fluid{
      .navbar-brand{
        font-size: 2em;
        pointer-events: none;
      }
    }
  }
    .navbar-toggler-icon {
      font-size: 1.5rem;
    }
  
    .navbar-nav {
      .nav-link {
          font-weight: 600;
          padding: 6px 15px;
          margin: 0 10px;
          border-radius: 20px;
          text-decoration: none;
          display: flex;
          justify-content: center;

          &.active{
            background: #000000A6 ;
            color: #fff;
          }
      }
    }
    
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Poppins', sans-serif;
    }
  }

  .headerApp{
    height: 64px;
    width: 100%;
  }