<div class="headerApp">
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">CLC</a>
        <button
          class="navbar-toggler"
          type="button"
          (click)="toggleNavbar()"
          aria-controls="fixedNavbarExample2"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars navbar-toggler-icon"></i>
        </button>
        <div
          [ngClass]="{ 'collapse': !isNavbarExpanded, 'navbar-collapse': !isNavbarExpanded }"
          id="fixedNavbarExample2"
        >
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" (click)="scrollOnTop()" routerLink="/" [ngClass]="{ 'active': isRouteActive('/') }" aria-current="page">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/themes" [ngClass]="{ 'active': isRouteActive('/themes') }">Temas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/videos" [ngClass]="{ 'active': isRouteActive('/videos') }">Vídeos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</div>
  