<div class="home-container">
  <!-- Seção 1: Cabeçalho com imagem de fundo -->
  <div class="p-5 text-center bg-image" [style.background-image]="'url(/assets/images/img-home.jpg)'">
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="title">Provérbios</h1>
          <h4 class="subtitle">Projeto Criativo CLC - IBB</h4>
          <a class="btn btn-outline-light btn-lg" (click)="scrollToContent()" id="button">Ínicio</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Seção 2: Conteúdo sobre o Livro de Provérbios -->
  <section #content class="text-about-home">
    <h1 class="title-about2">O Livro de Provérbios</h1>
    <h1 class="title-about">O Livro de Provérbios</h1>

    <h3> Quem escreveu ? </h3>
    <p> 
      O Livro de Próverbios contém vários autores: Salomão, Ezequias, Agur e Lemuel. <br>
      Sendo Salomão o autor da maior parte do livro (Pv. 1-24)
    </p>
    
    <h3> Porque estudar-lo ? </h3>
    <p> 
      O Livro de Próverbios contém conselhos para jovens, ....
    </p>

    <h3> Temas tratados </h3>
    <ul>
      <li>Sabedoria</li>
      <li>Orgulho</li>
      <li>Ira</li>
    </ul>

    <h3> Breve Resumo </h3>
    <p> 
      <strong>Provérbios 1–9 </strong>
        Um convite para o leitor procurar e adquirir a verdadeira sabedoria. 
        Expõem a natureza do conhecimento, o significado da vida e o caminho do sucesso.
    </p>
    <p>
      <strong>Provérbios 10–24 </strong>
        Esses provérbios contêm muitos ditados curtos sobre maneiras corretas e incorretas de viver. 
        Oferecem conselhos práticos sobre a vida familiar, o controle da ira, os perigos do orgulho 
        e vários outros assuntos.
    </p>
    <p>
      <strong>Provérbios 25–29 </strong>
      Esses provérbios falam sobre a liderança justa, o dever das pessoas de ajudar os pobres 
      e o valor da sabedoria na vida diária.
    </p>
    <p>
      <strong>Provérbios 30–31 </strong>
        As palavras de Agur e do rei Lemuel encerram o livro. 
        Agur indica ao leitor que “toda a palavra de Deus é pura” (Provérbios 30:5) e fala dos perigos da hipocrisia. 
        O rei Lemuel recita as palavras de sua mãe com advertências sobre as bebidas fortes. 
        A mulher virtuosa tem mais valor que as riquezas deste mundo. 
        Ela reverencia o Senhor e é diligente, generosa, sábia e bondosa.
    </p>     
  </section>
</div>

