<div class="home-container">
  <!-- Seção 1: Cabeçalho com imagem de fundo -->
  <div class="p-5 text-center bg-image" [style.background-image]="'url(/assets/images/img-home.jpg)'">
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="title">Provérbios</h1>
          <h4 class="subtitle">Projeto Criativo CLC - IBB</h4>
          <a class="btn btn-outline-light btn-lg" (click)="scrollToContent()" id="button">Ínicio</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Seção 2: Conteúdo sobre o Livro de Provérbios -->
  <section #content class="text-about-home">
    <span>O Livro de Provérbios</span>
    <h1 class="title-about">O Livro de Provérbios</h1>
    <p> 
      O Livro de Provérbios é um dos mais interessantes do Antigo Testamento, porque ele trata, sobretudo, de ensinamentos práticos para o dia a dia à todos que buscam agir conforme a Bíblia Sagrada.
      A origem 
      O Livro de Provérbios pode ser categorizado, de maneira genérica, como sendo do tipo poético e também sapiencial ou seja, aquele que apresenta ensinamentos e provoca reflexões relativos ao cotidiano, como por exemplo: trabalho, amizade, retidão, finanças, arrependimento, justiça, dentre outros. No decorrer do artigo daremos outras situações como exemplo. 
      Provérbios é um Livro que transmite a antiga herança e sabedoria de Israel. Nós recomendamos muito que você o leia com muita atenção, pois os ensinamentos serão úteis e aplicáveis.    
      Tradicionalmente, sua autoria é atribuída ao rei Salomão, filho de Davi. Um rei muito famoso por sua grande inteligência e autor de mais de três mil provérbios e mil e cinco cânticos (1 Reis 4:29-34). O rei Salomão também contribuiu com formação do famoso Livro de Salmos.
      Além de Salomão, vamos encontrar outros autores, como Agur, filho de Jaque, no cap. 30, e o rei Lemuel, no cap. 31.   
      É interessante apontar que em três provérbios, capítulos 1, 10 e 25, Salomão aparece, especificamente, como seu autor. Em outros dois, cap. 22:17 e 24:23, os “sábios”, e no cap. 25, existe uma colaboração dos copistas a serviço de Ezequias, rei de Judá.  
      Ah! E caso você esteja se perguntando o que significa a palavra “copista”, é bem simples. Eram os responsáveis por reproduzir documentos e textos à mão. Eram como “impressoras humanas”.
      
      o-livro-de-proverbios-1
      O Livro de Provérbios e a Sabedoria Popular
      Os ensinamentos de Provérbios vêm ao encontro do entendimento comum da “sabedoria popular”, que é formada a partir da experiência acumulada e passada de pais para filhos, de geração em geração, e em forma de lições de moral. Geralmente são simples, curtas, fáceis de entender e de lembrar, como por exemplo: “Não diga ao seu próximo, volte amanhã, e eu lhe darei algo, se pode ajudá-lo hoje.” – Provérbios 3:28 
      
      Outro bom exemplo é a nossa educação cristã. Você e eu acreditamos em Jesus Cristo, em Deus e na Bíblia como fatos, mas essa sabedoria e crença não nasceu aqui no Brasil. Nasceu há muito mais tempo em um local geográfico totalmente diferente do nosso, com uma cultura e hábitos diferentes e ainda assim se manteve propagando e se tornando um direcionamento. Conclusão: muitos dos provérbios são atemporais e independentes de localização geográfica.
      
      Como diz por exemplo o Provérbios 6:20 – “Meu filho, obedeça aos mandamentos de seu pai e não abandone o ensino de sua mãe.” 
      
      Boa parte do livro de Provérbios é assim. Possui recomendações duradouras e é por isso que até os tempos de hoje, qualquer cristão, independente do país em que vive, ao abrir um versículo de Provérbios, encontrará relações diretas e aplicáveis com seu cotidiano.
      
      Veja outros versículos como exemplos: 
      
      “Quem age com bondade faz bem a sim mesmo” – Provérbios 11:17
      
      “Cuida dos negócios da sua casa e não dê lugar à preguiça!” – Provérbios 31:27
      
      o-livro-de-proverbios-2
      Importância do Livro de Provérbios em nosso dia a dia 
      Como dito anteriormente, a sabedoria de Provérbios se baseia principalmente nas situações de nossas vidas. Situações que não necessariamente são provenientes dos ensinamentos das igrejas. Mas que certamente são aprovadas e mais que isso, constam nas escrituras sagradas.
      
      A maior parte do livro foca em nossa própria existência, seja na esfera pessoal ou coletiva.
      
      Veja abaixo outros temas de Provérbios:
      
      Família;
      Educação de uma forma geral;
      O adultério;
      O relacionamento entre pais e filhos;
      A honra nos negócios;
      Aspectos mais gerais em relação a moral e costumes, entre outros;
      Entretanto, dizer que a religião ficou fora desse livro seria muito errado. No primeiro capítulo, versículo sete, lemos: “O temor do Senhor é o princípio do saber, mas os loucos desprezam a sabedoria e o ensino”
      
      Isso significa que a única forma de sabedoria real que existe está numa vida sujeita a Deus.
      
      Em outro momento nós temos “Em seu coração o homem planeja o seu caminho, mas o Senhor determina os seus passos” – Provérbios 16:9
      
      7 conselhos do livro de Provérbios
      E para finalizar nosso artigo, quero trazer 7 conselhos de sabedoria encontrados no livro de Provérbios!
      
      1 – Sempre confie em Deus
      “Confia no Senhor de todo o teu coração e não se apoie em seu próprio entendimento. Reconheça o Senhor em todos os seus caminhos, e Ele endireitará as tuas veredas” Provérbios 3:5-6
      
      Seja sempre prudente em suas escolhas mas, acima de tudo, confia no Senhor teu Deus!
      
      2 – Diga não a arrogância!
      “Quando vem o orgulho, chega a desgraça, mas a sabedoria está com os humildes.“ Provérbios 11:2
      
      Seja humilde. Jamais deixe a arrogância tomar conta de si. Os melhores conselhos pertencem aqueles que sabem o momento de falar e o momento de calar.
      
      3 – O Livro de Provérbios pede por generosidade.
      “O generoso prosperará; quem dá alívio aos outros, alívio receberá.” Provérbios 11:25
      
      o-livro-de-proverbios-3
      Busque ser generoso ou generosa com as pessoas ao seu redor. Mas faça de isso de coração, pois além de agradar a Deus, você será atendido no tempo certo.
      
      4- Cuidado com o que sai da tua boca!
      “O que guarda a boca conserva a sua alma, mas o que muito abre os lábios a si mesmo se arruína.” Provérbios 13:3
      
      Esse versículo dispensa comentários. Seja alguém que vai trazer bons conselhos, pautados na prudência e sabedorias inspiradas por Deus.
      
      5 – Ame o ensino.
      “Quem zomba da instrução pagará por ela, mas aquele que respeita o mandamento será recompensado.” Provérbios 13:13
      
      Ame aprender, tudo que for correto! Busque o conhecimento da Palavra. Evolua como pessoa, como cidadão, como membro de uma sociedade e claro, compartilhe seus conhecimentos.
      
      6 – Não faça nada sem pensar antes.
      “O inexperiente acredita em qualquer coisa, mas o homem prudente vê bem onde pisa.” Provérbios 14:15
      
      Aqui o conselho é simples: não faça nada sem pensar antes. Não seja ingênuo, que acredita em tudo o que dizem. Seja atento, seja cauteloso e analise tudo com atenção.
      
      7 – Se controle!
      “Melhor é o homem paciente do que o guerreiro, mais vale controlar o seu espírito do que conquistar uma cidade.” Provérbios 16:32
      
      o-livro-de-proverbios-4
      Aqui a orientação é a paciência. Não seja explosivo ou impulsivo; se controle. Eu sei que é bem complicado manter o controle no mundo que vivemos hoje, mas respire fundo diante de uma situação conflitante. Conte até o número que for necessário. Tente se acalmar. Ore!
      
      E por esse artigo, é isso. Não deixe de ver o compilado de versículos de Provérbios que criamos para você compartilhar!
      
      Espero que tenha gostado de saber mais sobre esse maravilhoso livro da Bíblia e que seus ensinamentos o ajudem a se tornar uma pessoa cada vez melhor.
      
      Leia-o e veja o quanto já pratica destes ensinamentos em sua vida! Acredito que já faça muito, mas é sempre bom estarmos alinhados às coisas de Deus.
      
      Que Deus te abençoe, meu irmão e minha irmã em Cristo e até a próxima leitura! </p>
  </section>
</div>

